/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*=============== CLASES GLOBALES ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

input {
    outline: none;
    border: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input {
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.container-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, #2e4f56, #23505d, #165165, #08516e, #005076, #00547a, #00587f, #005c83, #166584, #2a6e84);
}

/*=============== TEXTO FLOTANTE ===============*/
input.input:focus+.focus-input::after,
input.input:not(:placeholder-shown)+.focus-input::after {
    transform: translateY(-1.2rem) scale(.9);
    transform-origin: left top;
    color: #4070f4;
}

textarea.input:focus+.focus-input::after,
textarea.input:not(:placeholder-shown)+.focus-input::after {
    transform: translateY(-1.2rem) scale(.9);
    transform-origin: left top;
    color: #4070f4;
}

/*=============== LINEA CON ANIMACION ===============*/
input.input:focus~.focus-input::before,
input.input:not(:placeholder-shown)~.focus-input::before,
textarea.input:focus~.focus-input::before,
textarea.input:not(:placeholder-shown)~.focus-input::before {
    transform: scale(1);
}

.focus-input::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #4070f4;
    transform: scale(0);
}


.focus-input::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999999;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*=============== ERRORES ===============*/
.error {
    margin: 8px 16px;
    color: red;
    transition: all 0.4s ease;
}

/*=============== FORM ===============*/
.container-contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right bottom, #2e4f56ce, #23505dce, #165165ce, #08516ece, #005076ce, #00547ace, #00587fce, #005c83ce, #166584ce, #2a6e84ce);
}

.container-wraps {
    padding-top: 1.5rem;
}

.wrap-contact {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 60px;
}

.contact-form {
    width: 100%;
}

.contact-form-title {
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

/*=============== TEXTAREA ===============*/
textarea {
    outline: none;
    border: none;
    overflow: auto;
    resize: vertical;
}

textarea.input {
    min-height: 6rem;
    max-height: 12rem;
    min-width: 100%;
    max-width: 100%;
}

/*=============== BOTON ===============*/
.container-contact-form-btn {
    display: -webkit-flex;
    padding-top: 13px;
}

.wrap-contact-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #4070f4;
    top: 0;
    left: -100%;
    transition: all 0.4s ease;
}

.contact-form-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0.5rem 3rem;
    transition: all 0.4s ease;
}

.contact-form-btn:hover {
    background-color: #265df2;
}

/*=============== REGRESO AL INDEX ===============*/
.return-index {
    margin-top: 30px;
    text-align: center;
}

.text {
    color: #333;
    font-size: 14px;
}

a.text {
    color: #4070f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}