/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES ===============*/
:root {
    --text-black-black: #000000;
    --text-white: #ffffff;
    --main: #4070f4;
}

/*=============== RESETS ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.bg-form {
    background: linear-gradient(to right bottom, #2e4f56, #23505d, #165165, #08516e, #005076, #00547a, #00587f, #005c83, #166584, #2a6e84);
}

/*=============== ERRORES ===============*/
.flex {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.error {
    text-align: start;
    margin: 8px 8px 8px 30px;
    color: red;
    width: 100%;
}

/*=============== FORM ===============*/
.container-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right bottom, #2e4f56ce, #23505dce, #165165ce, #08516ece, #005076ce, #00547ace, #00587fce, #005c83ce, #166584ce, #2a6e84ce);
}

.contact-form {
    width: 100%;
    background: var(--text-white);
    border-radius: 1rem;
    padding: 1rem;
}

.contact-form-title {
    display: block;
    font-size: 40px;
    color: var(--text-black);
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
}

/*=============== INPUTS ===============*/
.container-inputs {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.input-group {
    position: relative;
}

.input {
    border: solid 1.5px #4d4d4d;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    margin: 1rem 0;
    transition: all 0.3s ease;
}

.user-label {
    position: absolute;
    left: 15px;
    top: 15px;
    color: var(--text-black);
    pointer-events: none;
    transform: translateY(1rem);
    transition: all 0.3s ease;
}

.input:focus,
input:valid,
textarea:focus,
textarea:valid {
    outline: none;
    border: 1.5px solid var(--main);
}

.input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    transform: translateY(-50%) scale(0.8);
    background: var(--text-white);
    padding: 0 .2em;
    color: var(--main);
}

/*=============== TEXTAREA ===============*/
textarea {
    width: 198px;
    height: 256px;
    resize: none;
}

/*=============== BOTON ===============*/
.container-contact-form-btn {
    display: -webkit-flex;
    padding-top: 13px;
}

.wrap-contact-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.contact-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #4070f4;
    top: 0;
    left: -100%;
    transition: all 0.4s ease;
}

.contact-form-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0.5rem 3rem;
    transition: all 0.4s ease;
}

.contact-form-btn:hover {
    background-color: #265df2;
}

/*=============== REGRESO AL INDEX ===============*/
.return-index {
    margin-top: 30px;
    text-align: center;
}

.text {
    color: #333;
    font-size: 14px;
}

a.text {
    color: #4070f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}